.hide-scrollbar::-webkit-scrollbar-track {
    display: none; 
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    width: 8px; 
    background: transparent; 
  }
  
  .hide-scrollbar::-webkit-scrollbar-thumb {
    background: #bbb; 
    border-radius: 10px; 
  }

  .hide-scrollbar {
    scrollbar-width: thin; 
    scrollbar-color: #bbb transparent; 
  }
  